<!DOCTYPE html>
<html lang="en" data-bs-theme = "dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
</head>
<body>
    <header>
         
                <ul>
                    <li><a href="/">Search</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li id="create"><a href="/create">Create Events</a></li>
                </ul>
            
    </header>
    <main >
        <h1 class="text-center my-4">Available Events</h1>
        <section>
            <div class="row mb-4">
                <div class="col-md-6">
                    <input type="text" id="user-venue" class="form-control" placeholder="Enter venue name">
                </div>
                <div class="col-md-4">
                    <input type="date" id="filter-date" class="form-control">
                </div>
                <div class="col-md-2">
                    <button id="filter-button" class="btn btn-primary w-100">Filter Events</button>
                </div>
            </div>
            <ul id="event-list" class="row list-unstyled">
                <!-- Events will be listed here in a Bootstrap grid -->
                <!-- <li class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img src="https://s1.ticketm.net/dam/c/060/c5c08e7a-9912-456c-a060-2758be94e060_105881_EVENT_DETAIL_PAGE_16_9.jpg" alt="Ginger Root" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Ginger Root</h5>
                            <p class="card-text">Date: 2024-10-27</p><p class="card-text">Time: 20:00:00</p>
                            <p class="card-text">Location: The Factory in Deep Ellum, Dallas, Texas</p>
                            <a href="https://www.ticketmaster.com/event/Z7r9jZ1A7G7Ca" class="btn btn-primary" target="_blank">Buy Tickets</a>
                        </div>
                    </div>
                </li> -->
            </ul>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/events.js') }}"></script>
</body>
</html>
