<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Jampass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
</head>

<body>
<!-- Code for nav bar -->
    <header>
        <div class = "nav-bar">
            <a class="home" href="home.html">Jampass</a>
            <nav>
                <ul>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="aboutUs.html">About Us</a></li>
                    <li><a href="createEvents.html">Create Events</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>


        <!-- === Code for heropage === -->

        <div id ="heropage">
            <h1 id = "herotitle">"Discover excitement"</h1>
            <h2 id = "herosubheader">One search away from sharing music events with friends!</h2>
            <!-- Div for video -->
                <div id = "video"> 
                    <video autoplay loop id="heroVideo">
                        <source src="images/Videos/heroPage.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

        </main>
        <footer>
            <!-- <p>Trade Mark @ Jam Pass</p> -->
        </footer>
    
    <script></script>
    
    </body>
    </html>